@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("https://images-ext-1.discordapp.net/external/TqcFCdMRzFbVgdoOKOuXJDlh7RYqmn9A3_0vOgiCizw/https/uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png?width=800&height=800");
  background-color: #789395;
}
